*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.main{
    background-color: blue;
    height: 100vh;
    width: 100vw;
    float: left;
    position: relative;
}

.color1{
    background-color: black;
    height: 100vh;
    width: 50vw;
    float: left;
    display: flex;
    align-items: center;
}

.box{
    background-color: red;
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cadastro{
    margin-top: 10px;
}
